<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>

<body>
    <div id="app" class="container mt-5">
        <form @submit.prevent="add">
            <div class="form-group">Nama: <input type="text" v-model="name">
                <div class="alert alert-danger" v-if="this.errors.name">{{this.errors.name}}</div>
            </div>
            <div class="form-group">Harga: <input type="number" v-model="price">
                <div class="alert alert-danger" v-if="this.errors.price">{{this.errors.price}}</div>
            </div>
            <div class="form-group"><button type="submit" class="btn btn-primary">Add</button></div>
        </form>
        <p>
            <form @submit.prevent="search" class="py-5">
                <table>
                    <tr>
                        <td>Cari</td>
                        <td>:</td>
                        <td><input type="text" v-model="search" placeholder="case sensitive" /></td>
                    </tr>
                    <tr>
                        <td>Urut berdasarkan</td>
                        <td>:</td>
                        <td><button class="btn btn-primary" @click="sortBy('price', 'asc')">Lowest Price</button>
                            <button class="btn btn-primary" @click="sortBy('price', 'desc')">Highest Price</button></td>
                    </tr>
                </table>
            </form>

        </p>

        <table class="table">
            <thead>
                <tr bgcolor="pink">
                    <th><strong>Nama</strong></th>
                    <th><strong>Harga</strong></th>
                    <th><strong>Aksi</strong></th>
                </tr>
            </thead>
            <tr v-for="item in originalItems | filterBy customFilter">
                <td>{{item.name}}</td>
                <td>Rp {{item.price}}</td>
                <td><button @click="remove(item)" class="btn btn-primary">&times;</button></td>
            </tr>
            <tr>
                <td><strong>Total</strong></td>
                <td><strong>Rp {{total}}</strong></td>
                <td></td>
            </tr>
        </table>
        </p>

    </div>
    <script src="vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.26/vue.min.js"></script>

    <script>
        new Vue({
            el: '#app',
            async mounted() {
                this.items = this.originalItems
                this.loading = true
                // const response = await axios.get('http://cfc40bbc.ngrok.io/api/items')
                // this.items = response.data
                this.loading = false
            },
            data() {
                return {
                    loading: false,
                    name: '',
                    price: '',
                    errors: {},
                    search: [],
                    items: [],
                    originalItems: [
                        { id: 1, name: 'Indomi', price: 2000 },
                        { id: 2, name: 'Popmi', price: 5000 },
                        { id: 3, name: 'Kopi', price: 5000 },
                        { id: 4, name: 'Susu Ultra', price: 5000 }
                    ]
                }
            },
            methods: {
                add() {
                    this.errors = {}

                    if (this.name.trim() === '') {
                        this.errors.name = 'Nama harus diisi'
                    }
                    if (this.price < 1) {
                        this.errors.price = 'Harga harus lebih dari 0'
                    }

                    if (Object.values(this.errors).length > 0) {
                        return
                    }

                    this.items.push({
                        id: Date.now(),
                        name: this.name,
                        price: this.price
                    })
                    this.name = '',
                        this.price = ''
                },
                remove(item) {
                    const index = this.items.indexOf(item)
                    this.items.splice(index, 1)
                },
                customFilter: function (item) {
                    return item.name.indexOf(this.search) != -1
                },
                sortBy(type, orderBy = 'asc') {
                    this.items = this.originalItems.sort((a, b) => {
                        return (orderBy === 'asc')
                            ? a[type] - b[type]
                            : b[type] - a[type]
                    })
                },
            },
            computed: {
                total() {
                    return this.items
                        .map(item => Number(item.price))
                        .reduce((prev, current) => prev + current, 0)
                }
            }
        })
    </script>
</body>

</html>